<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Travel Planer</title>
</head>

<body>
<div class="container">
    <header>
        <h1>Travel Planer</h1>
    </header>

    <main>
        <div class="add-trip-area">
            <div class="add-trip-area__title">Add New Trip</div>
            <div class="add-trip-area__content">
                <div class="add-trip-area__content-item">
                    <label for="destination-input">Place</label>
                    <input type="text" id="destination-input" class="input" placeholder="Enter german city e.g. Berlin">
                </div>
                <div class="add-trip-area__content-item">
                    <label for="departing-date-input">Departing Date</label>
                    <input type="text" id="departing-date-input" class="input" placeholder="YYYY-MM-DD e.g. 2022-02-01">
                </div>
                <div class="add-trip-area__content-item">
                    <div id="add-trip-button" class="button">add trip</div>
                </div>
            </div>
        </div>

        <div class="trip-content-area">
            <div class="trip-content-area-title">My Trips:</div>
            <div class="trip-content-area-content">
            </div>
        </div>
    </main>
</div>


</body>
</html>
